

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common_head(~{::title},~{::meta},~{::link},~{})">
    <title th:text="'投稿说明_'+${application.website.name}"></title>
    <meta name="keywords" content="投稿说明,小说,小说网,言情小说,都市小说,玄幻小说,穿越小说,青春小说,总裁豪门小说,网络小说,免费小说,全本小说,原创网络文学" />
    <meta name="description" th:content="${application.website.name}+'小说每日更新小说连载,小说排行榜,提供言情小说,都市小说,玄幻小说,穿越小说,青春小说,总裁豪门小说,网络小说,免费小说,全本小说,首发小说,最新章节免费小说阅读,精彩尽在'+${application.website.name}+'小说！'" />
    <link rel="stylesheet" href="/css/about.css"/>
</head>
<body class="body">

<div th:replace="common/top :: top('')">
</div>
<!--主体 start-->
<div class="main box_center cf">
    <div class="userBox cf">
        <div class="my_l">
            <ul class="log_list">

                <li><a href="/about/default.html">关于我们</a></li>
                <li><a href="/about/contact.html">联系我们</a></li>
                <li><a href="/about/user_agreement.html">用户协议</a></li>
                <li><a href="/about/copyright.html">版权声明</a></li>
                <li><a href="/about/submission.html">隐私协议</a></li>
                <li><a  href="/user/feedback.html">反馈留言</a></li>
            </ul>
        </div>
        <div class="my_r">
            <div class="aboutBox">
                <h4>栗书文学网用户个人信息保护及隐私政策</h4>
                <h2>导言</h2>
                <div class="about_info">
                    <p>欢迎您使用栗书文学网及服务！</p><br/>
                    <p>为使用长沙久阅信息科技有限公司（以下简称“久阅”）提供的栗书文学网网站及服务（以下简称“本网站”、“本平台”或“本服务”），您应当阅读并遵守《栗书文学网用户个人信息保护及隐私政策》（以下简称“本政策”或“政策”）。</p><br/>
                    <p>
                        <strong>请您务必审慎阅读、充分理解各条款内容，特别是免除或限制责任的相应条款，以及开通或使用某项服务的单独政策，并选择接受或不接受。限制、免责条款已采取加粗形式提示您注意。我们将在明确获得您同意和接受后，为您提供相应的服务。</strong>
                    </p><br/>
                    <p>为了给您提供更好的服务，我们会根据产品的更新情况及法律法规的相关要求更新本政策的条款，该更新构成本政策的一部分。如该更新造成您在本政策下权利的实质减少或重大变更，我们将向您发送推送消息或以其他方式通知您，若您继续使用我们的服务，即表示您充分阅读、理解并同意受经修订的政策的约束。为保障您的合法权益，我们建议您定期在本平台设置页面中查看本政策。您有权不接受更新后的政策，但可能会导致您需要停止使用栗书文学网提供的某项服务。
                        如您有任何违反本政策的行为时，久阅有权依照违反情况，随时单方限制、中止或终止向您提供本服务，并追究您的相关责任。</p><br/>
                    <h2>一、定义及范围</h2>
                    <p>1.栗书文学网：是指久阅向用户提供的具备在线阅读、书籍推荐、发表作品、作家交流等功能的网站。</p><br/>
                    <p>2.用户：是指启用、浏览或上传数据至栗书文学网的用户，包括作家和读者，在本政策中更多地称为“您”。</p><br/>
                    <p>3.本政策是您与本平台之间关于您在使用本平台中涉及用户个人信息保护相关事宜所订立的协议。</p><br/>
                    <p>4.本政策内容同时包括久阅可能不时发布的关于用户个人信息保护的相关政策、声明、业务规则及公告指引等内容（以下统称为“专项规则”）。上述内容一经正式发布，即为本政策不可分割的组成部分，您同样应当遵守</p><br/>

                    <h2>二、我们如何收集和使用个人信息</h2>
                    <p>我们收集的信息包括您在使用如下功能或服务时产生的信息，以及您通过我们的客服或参加我们举办的活动时提交的信息。</p><br/>
                    <p>1.读者注册登录：您可以通过手机号码+验证码方式注册本网站帐号，当您注册登录时，我们会获取您提供的手机号码，如您已在久阅免费小说App或久阅小说App上用该手机号码注册过帐号，您可以直接登录。</p><br/>
                    <p>2.作家注册登录：当您注册成为作家时，我们会获取您提供的手机号码、姓名、身份证号、QQ号。</p><br/>
                    <p>3.作家个人资料：您注册成为作家后，可以自行编辑作家基本信息，包含头像、笔名、性别、QQ号码、电子邮箱、手机号码；如您希望成为本平台的签约作家，您在收到本平台通知后需要完善收款信息，包含真实姓名、身份证号、证件地址、联系地址、收款方开户银行、户名、银行卡号、性别。</p><br/>
                    <p>4.评论管理：作家可在作家专区管理读者对作品发表的评论记录，对评论加精以及回复评论。</p><br/>
                    <p>5.作家交流区：当作家填写完整的个人资料，完成实名认证后，可以进入作家交流区发帖、回帖，如您拒绝实名认证将无法在作家交流区发帖、回帖，但仍然可以进入作家交流区查看帖子。</p><br/>
                    <p>6.云书架：您登录帐号后可以在本平台手动将书籍加入云书架，您也可以删除云书架中的书籍。</p><br/>
                    <p>7.阅读历史：您在本平台阅读书籍，我们会记录您的阅读历史，您也可以删除阅读历史中的书籍。</p><br/>
                    <p>8.消息通知：作家可在作家专区的消息通知版块查看本平台发布的消息，包括签约通知、收入通知、作家交流区通知及评论通知等与您相关的消息。</p><br/>
                    <p>9.帐号安全：为保障帐号安全，作家可以自主更换绑定的手机号码、修改登录密码，如您希望修改手机号码和登录密码的，您可以在作家专区个人信息模块修改。</p><br/>
                    <p>10.签约：若您的作品列表出现签约按钮，代表您的作品可以与本平台签约，您可以点击按钮进行签约，签约前您需要完成实名认证（如您已完成认证，我们将在认证页面自动填充您已填写过的信息，您只需确认即可）。与本平台合作的第三方机构将对您进行人脸识别，请您放心，本平台不会收集、存储您的人脸信息。</p><br/>
                    <p>11.点击行为：当您使用本平台的服务时，我们会收集您的点击行为记录，但是请您放心，点击行为记录只会存储在浏览器本地。</p><br/>
                    <p>12.举报：您使用举报功能时，需要选择举报类型、填写章节链接及举报内容，同时您可以选择是否填写您的联系方式，点击“提交”后，我们会及时进行审核处理。您也可以通过举报窗口下方的举报电话联系我们的客服。</p><br/>
                    <p>13.我们的部分功能可能需要您提供特定的个人敏感信息，如身份证号、银行卡号。若您拒绝提供该类信息，则可能无法正常使用该特定功能，但不影响您使用其他功能。若您主动提供您的个人敏感信息，即表示您同意我们按照本政策所描述目的和方式来处理您的个人敏感信息。</p><br/>

                    <h2>三、我们如何共享、转让、公开披露个人信息</h2>
                    <p>1.共享
                        我们非常重视对您的个人信息的保护，您的个人信息是我们为您提供产品与服务的重要依据和组成部分，对于您的个人信息，我们仅在本政策所述目的和范围内或根据法律法规的要求收集和使用，并严格保密，我们不会与久阅关联方以外的第三方公司、组织和个人共享您的个人信息，除非存在以下一种或多种情形

                        <p>（1）您自行提出要求的。</p>
                        <p>（2）事先已征得您的明确授权同意。</p>
                        <p>（3）久阅及其关联方内部的必要、合理共享。您知悉并同意，栗书文学网注册帐号信息、相关阅读数据中不包括您个人敏感信息的部分个人信息可能会与我们的关联公司共享。我们会努力确保关联公司采取不低于本政策所承诺的安全保障措施以及遵守我们提出的其他安全保护要求来保障您的个人信息安全。</p>
                        <p>（4）共享的是去标识化的信息，且接受该信息的第三方无法重新识别信息主体身份；</p>
                        <p>（5）为了保护您、其他用户、社会公共利益、财产或安全（例如：欺诈或信用风险等）免遭损害而与第三方进行共享；</p>
                    <p>（6）某些情况下，只有共享您的个人信息，才能实现我们服务的核心功能或提供您需要的服务，或处理您与他人的纠纷或争议；</p>
                    <p>（7）依据您与我们签署的相关协议（例如：在线协议、平台规则等）或法律文件而共享的；</p>
                    <p>（8）符合您与其他第三人之间的有关约定的；</p>
                    <p>（9）基于合理商业习惯而共享的，例如：与第三方共享联合营销活动中的中奖/获胜者等信息，以便其能及时向您发放奖品/礼品等；我们接受尽调时等；</p>
                    <p>（10）有权机关的要求、诉讼争议需要、法律法规等规定的其他需要共享的情形。</p>
                    我们仅会出于合法、正当、必要、特定、明确的目的共享您的个人信息，并且只会共享必要的个人信息。在我们与业务合作伙伴共享信息时，我们会严格要求其履行保护您个人信息的责任。
                    </p><br/>
                    <p>2.转让
                        转让是指将个人信息控制权向其他公司、组织或个人转移的过程。原则上我们不会将您的个人信息转让，但以下情况除外：
                        <p>（1）您自行提出要求的；</p>
                        <p>（2）事先已征得您的明确授权同意；</p>
                        <p>（3）如我们进行兼并、收购、重组、分立、破产、资产转让或类似的交易，而您的个人信息有可能作为此类交易的一部分而被转移，我们会要求新持有人继续遵守和履行本政策的全部内容（包括使用目的、使用规则、安全保护措施等），否则我们将要求其重新获取您的明示授权同意；</p>
                        <p>（4）法律法规规定的其他情形。</p>
                        如具备上述事由确需转让的，我们会在转让前向您告知转让信息的目的、类型（如涉及您的个人敏感信息的，我们还会向您告知涉及的个人敏感信息的内容），并在征得您的授权同意后再转让，但法律法规另有规定的或本政策另有约定的除外。
                    </p><br/>
                    <p>3.公开披露</p><br/>
                    <p>（1）公开披露是指向社会或不特定人群发布信息的行为。除了因需要对违规帐号、欺诈行为等进行处罚公告、公布中奖/获胜者等名单时脱敏展示相关信息等必要事宜而进行的必要披露外，我们不会对您的个人信息进行公开披露，如具备合理事由确需公开披露的，我们会在公开披露前向您告知公开披露的信息类型和披露目的（如涉及您的个人敏感信息的，我们还会向您告知涉及的个人敏感信息的内容），并在征得您的授权同意后再公开披露，但法律法规另有规定的或本政策另有约定的除外。</p><br/>
                    <p>（2）对于公开披露的您的个人信息，我们会充分重视风险，在收到公开披露申请后第一时间且审慎审查其正当性、合理性、合法性，并在公开披露时和公开披露后采取不低于本政策约定的个人信息安全保护措施和手段对其进行保护。</p><br/>
                    <p>（3）请您知悉，即使已经取得您的授权同意，我们也仅会出于合法、正当、必要、特定、明确的目的公开披露您的个人信息，并尽量对公开披露内容中的个人信息进行匿名化处理。</p><br/>
                    <p>（4）根据法律法规规定，针对以下情况，共享、转让、公开披露您的个人信息无需事先征得您的授权同意：
                        <p>①与国家安全、国防安全直接相关的；</p>
                    <p>②与公共安全、公共卫生、重大社会公共利益直接相关的；</p>
                    <p>③与犯罪侦查、起诉、审判和判决执行等直接相关的；或根据法律法规的要求、行政机关或公检法等有权机关的要求的；</p>
                    <p>④为维护您或其他个人的生命、财产等重大合法权益但又很难得到您本人同意的；</p>
                    <p>⑤个人信息是您自行向社会公开的或者是从合法公开的渠道（如合法的新闻报道、政府信息公开等渠道）中收集到的；</p>
                    <p>⑥根据与您签订的相关协议或其他书面文件约定的；</p>
                    <p>⑦法律法规规定的其他情形。</p>
                    </p><br/>

                    <h2>四、我们如何使用Cookie和同类技术</h2>
                    <p>Cookie对提升用户的网络使用体验十分重要，久阅使用Cookie一般出于以下目的：</p><br/>
                    <p>1.身份验证
                        Cookie可在您接入我们的服务时通知我们，以验证您的帐号信息，确保您的帐号安全。例如，Cookie技术可在您登入栗书文学网时通知我们，因此，我们能够在您访问网站时，识别是否为本人安全登录，向您显示与您相关的信息。</p><br/>
                    <p>2.偏好设置
                        Cookie可帮助我们按照您所希望的服务样式、外观的个性化设置为您提供服务。例如，Cookie技术可记录您是否已经阅读过一些提示性的展现，防止重复提示对您造成骚扰；一些阅读展现（如字体大小等方面）可依您本人偏好设定，我们也会存放于Cookie中，在您访问时自动为您调整到您上次的设定值。</p><br/>
                    <p>3.安全
                        Cookie可帮助我们保障数据和服务的安全性，排查针对我们服务的作弊、黑客、欺诈行为。例如，Cookie可以存放令牌的票据信息，能够由服务器验证是否是您自主在本站点的正常登录，通过票据中的加密信息，阻止多种类型的攻击，防止跨站信息窃取访问，防止身份冒充访问。</p><br/>
                    <p>4.功能与服务
                        Cookie可帮助我们为用户提供更好的产品和服务。例如，Cookie可以在您进行登录时，通过存储的信息，帮您填入您最后一次登入的帐号名称，提高您的操作效率。</p><br/>
                    <p>5.效率
                        Cookie可以避免不必要的服务器负载，提高服务效率，节省资源。例如，Cookie可帮助我们优化在服务器之间路由的流量，并且了解不同用户加载我们服务时的速度，有时我们可能会利用Cookie让您在使用网站时加载及响应得更快。</p><br/>

                    <h2>五、我们如何保护个人信息安全</h2>
                    <p>1.保护用户个人信息是本平台的一项基本原则，本平台将会采取合理的措施保护用户的个人信息。除法律法规规定或本政策另有约定的情形外，未经用户许可本平台不会向第三方公开、透露用户个人信息。本平台对相关信息采用专业加密存储与传输方式，保障用户个人信息的安全。</p><br/>
                    <p>2.本平台将运用各种安全技术和程序建立完善的管理制度来保护您的个人信息，以免遭受未经授权的访问、使用或披露。密码加密存储，做到只能验证密码正确性但无法看到密码</p><br/>
                    <p>3.未经您的同意，久阅不会向久阅关联公司以外的任何公司、组织和个人共享、转让、公开披露您的个人信息，但法律法规另有规定或本政策另有约定的除外。</p><br/>
                    <p>4.目前，栗书文学网不存在个人信息出境情况，如将来因业务发展需要个人信息出境的，我们将在本政策中对出境个人信息类型进行逐项列举，并显著标识。</p><br/>
                    <p>5.您理解并同意，为了更好地为您提供服务，本平台可以在您栗书文学网帐号下关联该帐号在久阅其他客户端的数据记录（如书架内容），同样，本平台也可将您在本平台产生的数据记录关联至其他客户端上的该帐号上。</p><br/>

                    <h2>六、我们如何存储个人信息</h2>
                    <p>1.我们存储信息的地点、期限遵守法律法规的规定，在中华人民共和国境内运营中收集和产生的个人信息，均存储在中国境内。目前，我们不会将上述信息传输至境外，如果我们向境外传输，我们将会遵循相关国家规定或者征求您的同意。</p><br/>
                    <p>2.一般而言，我们仅在实现目的所必需的最短期限保留您的个人信息，除非法律有强制的存留要求。而我们判断前述期限的标准包括：
                    <p>（1）完成与您相关的服务目的、维护相应服务及业务记录、应对您可能的查询或投诉；</p>
                    <p>（2）保证我们为您提供服务的安全和质量；</p>
                    <p>（3）您是否同意更长的留存时间；</p>
                    <p>（4）是否存在保留期限的其他特别约定。</p>
                    在您的个人信息超出保留期限后，我们会根据适用法律的要求删除您的个人信息，或使其匿名化处理。
                    </p><br/>
                    <p>3.信息删除和匿名化处理
                        如栗书文学网决定停止运营的，我们将以公告形式将停止运营通知向您送达，在相关服务停止运营后我们将停止继续收集您的个人信息，并对已持有的您的个人信息进行删除或匿名化处理。</p><br/>

                    <h2>七、您的权利</h2>
                    <p>1.访问您的个人信息
                        您有权访问您的个人信息，法律法规规定的例外情况除外。如果您希望行使数据访问权，可以通过以下方式自行访问：</p><br/>
                    <p>（1）如您是读者的，您可以在本网站点击帐号头像进入个人中心，查看您的头像、昵称、ID；</p>
                    <p>（2）如您是作家的，您可以登录进入作家专区 个人信息版块，查看您的头像、昵称等信息。</p>
                    <p>2.更正您的个人信息
                        如您是作家，当您需要更正您的个人信息时，您可以自行进入作家专区的个人信息页面，修改您的昵称、头像、基础信息和认证信息，也可以联系客服协助您修改个人信息。</p><br/>
                    <p>3.删除您的个人信息
                        您可以在网站页面直接删除的信息有书架记录、阅读历史，具体操作方式为：点击首页“书架”按钮，在“我的书架”、“阅读历史”下点击编辑来删除您的书架记录和阅读历史。</p><br/>
                        <p>如您想删除其他个人信息的，在以下情形中，您可以向我们提出删除个人信息的请求，我们将在15个工作日内处理完毕，如您有任何疑问，可以联系我们的客服：
                        <p>（1）如果我们处理个人信息的行为违反法律法规；</p>
                        <p>（2）如果我们收集、使用您的个人信息，却未征得您的同意；</p>
                        <p>（3）如果我们处理个人信息的行为违反了与您的约定；</p>
                        <p>（4）如果您不再使用我们的产品或服务，或您注销了帐号；</p>
                        <p>（5）如果我们不再为您提供产品或服务。</p>
                        当您的个人信息删除后，我们可能不会立即在备份系统中删除相应的个人信息，但会在备份更新时删除这些信息。
                    </p><br/>

                    <h2>八、未年人保护</h2>
                    <p>1.未成年人使用我们的服务前，应取得监护人的同意。如您为未成年人，应在监护人监护、指导下使用本服务，如您是未成年人的监护人，请您在未成年人使用我们的服务前仔细阅读、充分理解本政策内容。</p><br/>
                    <p>2.我们根据国家相关法律法规的规定保护未成年人的个人信息，只会在法律法规允许、监护人明确同意或保护未成年人的权益所必要的情况下收集、使用或公开披露未成年人的个人信息。若您是未成年人的监护人，当您对您所监护的未成年人的个人信息有相关疑问时，您可以通过本政策“联系我们”中公示的联系方式与我们沟通解决。如果我们发现在未事先获得可证实的监护人同意的情况下收集了未成年人的个人信息，则会尽快删除相关数据。</p><br/>

                    <h2>九、其他</h2>
                    <p>1.本政策签订地为中华人民共和国湖南省长沙市。</p><br/>
                    <p>2.本政策的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）。</p><br/>
                    <p>3.若您和本平台之间发生任何纠纷或争议，首先应友好协商解决；协商不成的，您同意将纠纷或争议提交本政策签订地有管辖权的人民法院管辖。</p><br/>
                    <p>4.本政策项下所有的通知均可通过页面公告、电子邮件、短信或常规的信件传送等方式进行；该等通知于发送之日视为已送达收件人。</p><br/>
                    <p>5.本政策所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本政策涵义解释的依据。</p><br/>
                    <p>6.本政策条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。（正文完）</p><br/>

                    <h2>联系我们</h2>
                    <p>公司名称：长沙久阅信息科技有限公司</p><br/>
                    <p>客服联系方式：①客服QQ：3568038879；客服邮箱：18075120101@163.com。</p><br/>
                    <p>注册地址：湖南省长沙市岳麓区奥克斯缤纷广场A座2105</p><br/>
                    <p>个人信息保护相关负责人联系方式：18075120101</p>
                </div>
            </div>
        </div>

    </div>
</div>


<div th:replace="common/footer :: footer">
</div>
<div th:replace="common/js :: js"></div>
<script src="/javascript/bookdetail.js" type="text/javascript"></script>

</body>
</html>
