

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common_head(~{::title},~{::meta},~{::link},~{})">
    <title th:text="'用户协议_'+${application.website.name}"></title>
    <meta name="keywords" content="用户协议,小说,小说网,言情小说,都市小说,玄幻小说,穿越小说,青春小说,总裁豪门小说,网络小说,免费小说,全本小说,原创网络文学" />
    <meta name="description" th:content="${application.website.name}+'小说每日更新小说连载,小说排行榜,提供言情小说,都市小说,玄幻小说,穿越小说,青春小说,总裁豪门小说,网络小说,免费小说,全本小说,首发小说,最新章节免费小说阅读,精彩尽在'+${application.website.name}+'小说！'" />
    <link rel="stylesheet" href="/css/about.css"/>
</head>
<body class="body">

<div th:replace="common/top :: top('')">
</div>
<!--主体 start-->
<div class="main box_center cf">
    <div class="userBox cf">
        <div class="my_l">
            <ul class="log_list">

                <li><a href="/about/default.html">关于我们</a></li>
                <li><a href="/about/contact.html">联系我们</a></li>
                <li><a class="on" href="/about/user_agreement.html">用户协议</a></li>
                <li><a href="/about/copyright.html">版权声明</a></li>
                <li><a href="/about/submission.html">隐私协议</a></li>
                <li><a  href="/user/feedback.html">反馈留言</a></li>
            </ul>
        </div>
        <div class="my_r">
            <div class="aboutBox">
                <h4>栗书文学网用户协议</h4>
                <div class="about_info">
                    <h2>导言</h2>
                    <p>欢迎您使用栗书文学网网站及服务！</p><br/>
                    <p>栗书文学网（以下简称 “本平台”或“本服务”）是指长沙久阅信息科技有限公司（以下简称“本公司”）合法运营并向您提供服务的网站，《栗书文学网用户服务协议》（以下简称“本协议”）是您与本公司就注册、登录、使用本平台所订立的协议，具有合同效力。</p> <br/>
                    <p>
                        <strong>请您务必审慎阅读、充分理解各条款内容，特别是免除或限制责任的相应条款，以及开通或使用某项服务的单独协议。限制、免责条款已采用加粗形式提示您注意。</strong>
                    </p>
                    <br/>
                    <p>如您不同意本协议，这将导致本平台无法为您提供完整的产品和服务。您获取帐号、登录等行为（以下统称为“使用”），即视为您已阅读并同意本协议的约束。</p><br/>
                    <p>
                        <strong>您有违反本协议的任何行为时，本平台有权依照违反情况，随时单方限制、中止或终止向您提供本服务，并有权追究您的相关责任。</strong>
                    </p>
                    <p>
                        <strong>如果您未满18周岁，请在监护人的陪同下阅读本协议，并特别注意未成年人保护条款。</strong>
                    </p><br/>
                    <h2>1.特别提示</h2>
                    <p>1.1用户是指在本平台注册/登录后，通过本平台阅读书籍的读者或发布作品的作家，在本协议中或称“您”。您通过运营商正规渠道获取的手机号码进行帐号注册时，需进行短信验证并绑定一个有效的手机号码，点击“注册”/“登录”按钮即表示您已经详细阅读了本协议的内容，同意遵守本协议的约定。</p><br/>
                    <p>1.2本公司有权随时对本协议进行修改与更新，并在栗书文学网网站发布更新后的协议内容，协议一经发布即有效代替原来的服务协议，您可随时访问查看最新版本。您在使用本平台提供的各项服务之前，应仔细阅读本协议，如您不同意本协议的，可以主动停止使用本服务。</p><br/>
                    <p>1.3您在使用本平台某一特定服务时，该服务可能会另有单独的协议/规则，例如《VIP会员服务协议》，您在使用该项服务前请仔细阅读，如您使用前述特定服务，即视为您同意相关协议/规则。本平台已经发布及后续可能不断发布的各类协议、规则、声明、公告等，为本协议不可分割的组成部分。</p><br/>

                    <h2>2.服务内容</h2>
                    <p>2.1本平台提供的服务内容包括但不限于文学作品阅读、作家交流、作品发布、作家签约等（以下简称“本服务”或 “网络服务”）。本公司保留随时变更、中断或终止部分或全部网络服务的权利。</p><br/>
                    <p>2.2本公司在您使用部分服务功能时可能会收取一定的费用，在此情况下，本平台会在相关页面作出明确提示，如您拒绝支付该等费用，则不能使用对应的网络服务，但不影响您使用其他功能。</p><br/>
                    <p>2.3您使用本公司的网络服务需自行准备与相关服务有关的终端设备（如电脑、调制解调器等装置），并承担所需的费用（如上网费等费用）。您理解并同意，使用网络服务时会耗用终端设备和带宽等资源。</p><br/>

                    <h2>3.“栗书文学网”平台使用规范</h2>
                    <p>3.1您理解并同意，本平台致力于为所有用户提供文明健康、规范有序的网络环境，您不得利用本平台制作、复制、发布、传播如下干扰本服务正常运营，或侵犯其他用户或第三方合法权益的内容，包括但不限于：</p><br/>
                    <p>3.1.1发布、传送、传播、存储违反国家法律法规的内容，包括：
                        <p>（1）违反宪法确定的基本原则的；<p>
                        <p>（2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
                        <p>（3）损害国家荣誉和利益的；</p>
                        <p>（4）煽动民族仇恨、民族歧视，破坏民族团结的；</p>
                        <p>（5）破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
                        <p>（6）散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
                        <p>（7）散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪信息的；</p>
                        <p>（8）侮辱或者诽谤他人，侵害他人合法权益的；</p>
                        <p>（9）煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的；</p>
                        <p>（10）以非法民间组织名义活动的；</p>
                        <p>（11）含有法律、行政法规禁止的其他内容的。</p>
                    </p><br/>
                    <p>3.1.2发布、传送、传播、存储侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利的内容；</p><br/>
                    <p>3.1.3未经他人许可发布、传送、传播涉及他人隐私、个人信息的内容；</p><br/>
                    <p>3.1.4发布、传送、传播骚扰信息、广告信息及垃圾信息或含有任何性或性暗示的信息；</p><br/>
                    <p>3.1.5其他违反法律法规、政策及公序良俗、社会公德的内容。</p><br/>
                    <p>3.2您不得利用或针对本服务进行任何危害计算机网络安全的行为，包括但不限于：
                        <p>（1）非法侵入他人网络、干扰他人网络正常功能、窃取网络数据等危害网络安全的活动；</p>
                        <p>（2）提供专门用于从事侵入网络、干扰网络正常功能及防护措施、窃取网络数据等危害网络安全活动的程序、工具；</p>
                        <p>（3）明知他人从事危害网络安全的活动的，为其提供技术支持、广告推广、支付结算等帮助；</p>
                        <p>（4）使用未经许可的数据或进入未经许可的服务器/帐号；</p>
                        <p>（5）未经允许进入公众计算机网络或者他人计算机系统并删除、修改、增加存储信息；</p>
                        <p>（6）未经许可，企图探查、扫描、测试本服务系统或网络的弱点或其它实施破坏网络安全的行为；</p>
                        <p>（7）企图干涉、破坏本服务系统或网站的正常运行，故意传播恶意程序或病毒以及其他破坏干扰正常网络信息服务的行为；</p>
                        <p>（8）伪造TCP/IP数据包名称或部分名称。</p>
                    </p><br/>
                    <p>3.3您在使用本服务过程中，必须遵循以下原则：
                        <p>（1）遵守中国有关的法律和法规；</p>
                        <p>（2）遵守所有与网络服务有关的网络协议、规定和程序；</p>
                        <p>（3）不得为任何非法目的而使用本服务；</p>
                        <p>（4）不得利用本服务进行任何可能对互联网的正常运转造成不利影响的行为；</p>
                        <p>（5）不得利用本服务传输任何骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；</p>
                        <p>（6）不得未经本公司授权利用其提供的网络服务以任何方式收集任何其它用户的信息，包括但不限于用户的个人身份信息和通讯信息；</p>
                        <p>（7）不得利用本服务进行任何不利于本公司及其关联公司的行为。</p>
                    </p><br/>
                    <p>3.4您不得对本服务进行反向工程、反向汇编、反向编译或者以其他方式尝试发现本平台的源代码。</p><br/>
                    <p>3.5您承诺并保证对通过本服务发布的内容、作品享有或已获得所必需的全部权利和授权，包括但不限于所有权、使用权或相关知识产权（著作权（包括邻接权）或已获得著作权人／邻接权人的有效授权、商标权、专利权以及其他相关权利），并有权转授权给本平台，且不存在任何已有的或可能存在的侵权、违约或其他纠纷。您拥有授权本平台按照本服务的方式使用相关作品的权利，且本平台有权按照本协议约定使用授权内容无需再另行征得任何第三人的同意。</p><br/>
                    <p>3.6本平台设立举报入口，您可通过网站公示的途径向本公司投诉、举报各类违法违规行为、违法传播活动、违法有害信息等内容，本公司将及时处理投诉举报，以共同营造风清气正的网络空间。</p><br/>

                    <h2>4.知识产权声明</h2>
                    <p>4.1本平台的一切著作权、商标权、专利权、商业秘密等知识产权，以及与本平台相关的所有信息内容（包括但不限于文字、图片、音频、视频、图表、界面设计、版面框架、有关数据或电子文档等）均受中华人民共和国法律法规和相应的国际条约保护，本平台享有上述知识产权，但相关权利人依照法律规定应享有的权利除外。</p><br/>
                    <p>4.2未经本平台或相关权利人书面同意，您不得为任何商业或非商业目的自行或许可任何第三方实施、利用、转让上述知识产权，您不得对任何该信息、资料、文字、软件、声音、图片、视频、图表进行修改、散布、传送、展示、执行、复制、发行、授权、制作衍生著作、转移或销售。如您未遵守本条款的上述规定，将视为您严重违约，在不损害其他权利的情况下，本平台可立即终止向您提供服务，解除双方间的服务协议和法律关系，您应赔偿因此给本平台造成的损失，本平台可通过法律途径向您追索。同时您必须销毁任何已经获得的上述信息、资料、文字、软件、声音、图片、视频、图表。</p><br/>
                    <p>4.3除另有特别声明外，本公司提供网络服务时所依托软件的著作权、专利权及其他知识产权均归本公司所有。</p><br/>

                    <h2>5.用户个人信息保护</h2>
                    <p>5.1您在注册帐号或使用本服务的过程中，可能需要填写一些必要的信息。若国家法律法规有特殊规定的，您需要填写真实、完整、有效的身份信息，依据相关法律规定和本协议约定对所提供的信息承担相应的法律责任。若您填写的信息不完整或提供的资料已变更未更新，则无法使用本服务或在使用过程中受到限制，本平台不因此承担任何责任。</p><br/>
                    <p>5.2本平台保证不对外公开或向第三方（除本协议另有约定外）提供您的注册资料及您在使用本服务时存储在本平台的非公开内容，但下列情况除外：
                        <p>（1）事先获得用户的明确授权；</p>
                        <p>（2）根据有关的法律法规要求；</p>
                        <p>（3）按照相关政府主管部门的要求；</p>
                        <p>（4）为维护社会公众的利益；</p>
                        <p>（5）为维护本公司的合法权益。</p>

                    </p><br/>
                    <p>5.3保护用户个人信息是本平台的一项基本原则，本平台将采取加密存储及传输等方式保障您的个人信息的安全，更多关于用户个人信息保护的内容，请参见《栗书文学网用户个人信息保护及隐私政策》。</p><br/>

                    <h2>6.免责声明</h2>
                    <p>6.1本公司不保证以下事宜：
                        <p>（1）本服务将符合用户的要求；</p>
                        <p>（2）本服务将不受干扰、及时提供、安全可靠或不会出错；</p>
                        <p>（3）平台中任何错误都将能得到更正。</p>
                    </p><br/>
                    <p>
                        <strong>6.2您充分了解并同意，您必须为自己帐号在本平台下的一切行为负责，包括您所发表的任何内容以及由此产生的任何后果。您应对本平台中的内容自行加以判断，并承担因使用内容而引起的所有风险，包括因对内容的正确性、完整性或实用性的依赖而产生的风险；同时，您应在本协议约定的范围内使用本服务，因您利用本平台进行违反法律法规、本协议、专项规则的行为所产生的风险亦由您自行承担。本平台无法且不会对因前述风险而导致的任何损失或损害承担责任。</strong>
                    </p><br/>
                    <p>6.3您应对在本平台所获得的帐号及使用该帐号登入网络服务系统后所开始的一系列行为或活动负责。若您未能妥善保管使用此帐号及密码，如：将帐号及密码泄漏或提供第三人知悉、出借或转让给他人使用及其他因您自身过错而导致的帐号或密码泄漏，从而造成损失的，您应自行承担责任，本平台不承担任何责任。</p><br/>
                    <p>6.4您理解并同意，在使用本服务过程中，可能遇到不可抗力等因素（不可抗力是指不能预见、不能克服并不能避免的客观事件），包括但不限于政府行为、自然灾害、网络原因、黑客攻击、战争或任何其它类似事件。出现不可抗力情况时，本公司将努力在第一时间及时修复，但因不可抗力给您造成的损失，公司不承担责任。</p><br/>
                    <p>6.5如果您停止使用本平台超过一年或服务被终止或取消的，本平台可以从服务器上永久地删除您的数据，也没有义务向您返还任何数据。</p><br/>
                    <p>6.6本平台依据本协议约定获得处理违法违规内容的权利，该权利不构成本平台的义务或承诺，公司不能保证及时发现违法行为或进行相应处理。</p><br/>

                    <h2>7.服务变更、中断或终止</h2>
                    <p>7.1您使用或在相关更新条款发布后继续使用本平台及服务的行为，视为接受并认可相关条款的法律效力及对双方的约束力，且您认可相关条款（包括但不限于任何更新后的条款）具有溯及至您的帐号首次登陆本平台之日的法律效力并在该日起对双方有共同的约束力。</p><br/>
                    <p>7.2您在使用本服务时实施不正当行为的，本平台有权终止提供服务，该不当行为包括但不限于违约、违法、违反公序良俗、侵犯本平台或任何第三方之权益等。</p><br/>
                    <p>7.3您在接受本服务时实施本协议中有明确约定或属于本平台事先明确告知的应被终止服务的禁止性行为的，本平台有权终止向您提供服务。</p><br/>
                    <p>7.4如您传播本平台作品章节相关内容的图档、文字，或有其他违反有关法律、法规或本协议的任何条款，而给本平台或任何其他第三人造成损失；或者因您自身过错导致本人帐号或密码泄露，而给本平台或任何其他第三人造成损失的，本平台将终止向您提供服务，无需通知您。</p><br/>
                    <p>7.5如因系统维护或升级的需要而需暂停服务，本平台将尽可能事先进行通告。</p><br/>
                    <p>7.6如因突发性网络设备故障、网络设备因不明原因停止、不可抗力、相关政府机构要求及其他情况，发生未能事先通知中断或终止部分或全部服务，且造成任何损失的，本平台无需对您或任何第三方承担责任。</p><br/>

                    <h2>8.违约处理</h2>
                    <p>8.1针对您违反法律法规、行政规定、本协议、隐私政策以及“栗书文学网”平台相关规则、规范、声明、公告、通知等内容的行为，本平台有权独立判断并视情况采取预先警示、拒绝发布、要求整改、立即停止传输信息、删除内容、冻结帐号权益、限制帐号部分或者全部功能直至永久关闭帐号、要求承担违约或侵权责任等措施。本平台有权公告处理结果，且有权根据实际情况决定是否恢复使用。对涉嫌违反法律法规、涉嫌违法犯罪的行为将保存有关记录，并依法向有关主管部门报告、配合有关主管部门调查。如您申请恢复服务、解除上述冻结，您应按照本平台要求如实提供您的身份证明以及本平台要求的其他信息或文件，以便核实，且本平台有权依照自行判断决定是否同意您的申请。您应当充分理解您的申请并不必然被允许。</p><br/>
                    <p>8.2因您违反本协议或其他服务条款规定，引起第三方投诉或诉讼索赔的，您应当自行承担全部法律责任。因您的违法或违约行为导致本平台及其关联公司损失、或向任何第三方赔偿或遭受国家机关处罚的，您应承担违约/侵权责任并足额赔偿全部损失。</p><br/>

                    <h2>9.未成年人保护</h2>
                    <p>9.1未成年用户缺乏自我保护能力，因此在使用本服务时要注意辨别网络世界和真实世界的区别，避免沉迷于网络，影响日常的学习生活，填写个人资料或是与其他用户交流时，要提高安全意识，注意保护个人信息，尽量在监护人的指导下，学习正确使用网络。</p><br/>
                    <p>9.2本平台非常重视对未成年人个人信息的保护。若您是14周岁以下的未成年人，在使用本服务前，应事先取得您监护人的同意。如您是未成年人的监护人，请您注意指导未成年人正确使用网络，告知未成年人上网注意事项，防患于未然。</p><br/>

                    <h2>10.法律管辖</h2>
                    <p>10.1本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括《法律适用法》）。</p><br/>
                    <p>10.2本协议签订地为中华人民共和国上海市浦东新区。如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，您同意将纠纷或争议提交本协议签订地有管辖权的人民法院管辖。</p><br/>
                    <p>10.3本协议的订立、履行、解释及争议的解决均应以本公司所提供之任何形式之电子数据、书面数据等相关内容为准，您在此确认该等数据的准确性、有效性、合法性。</p><br/>

                    <h2>11.其他规定</h2>
                    <p>11.1本协议项下所有的通知均可通过重要页面公告、电子邮件或常规的信件传送等方式进行；该等通知发送之日视为已送达收件人。</p><br/>
                    <p>11.2本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议另有约定外，未赋予本协议各方其他权利。</p><br/>
                    <p>11.3本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。</p><br/>
                    <p>11.4本公司保留对本协议条款、产品和服务以及本公司所提供的产品和服务的相关官方网站的最终解释权。</p><br/>
                    <p>11.5本协议中的标题仅为方便而设，不具法律或契约效果。</p><br/>

                </div>
            </div>
        </div>

    </div>
</div>

<div th:replace="common/footer :: footer">
</div>
<div th:replace="common/js :: js"></div>
<script src="/javascript/bookdetail.js" type="text/javascript"></script>

</body>
</html>
